@model PharmacieCodeFirstASPNET.ViewModel.CoordonnerViewModel

@{
    ViewBag.Title = "Meteo";
}

<h2>Meteo</h2>

<div>
    <p>
        @Model.nomPays
        @Model.Temperature
        @Model.Precipitation
    </p>
</div>