@model  PharmacieCodeFirstASPNET.ViewModel.RechercheProduitViewModel

@{
    ViewBag.Title = "Recherche Produit";
}

<h2>Recherche</h2>

@using (Ajax.BeginForm("ResultatRecherche", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultats",
    OnFailure ="ErreurRecherche",
    LoadingElementId = "chargement"
}))
{
    @Html.TextBoxFor(r =>r.Recherche)
    <img id="chargement" src="~/Content/Image/ajax-loader (1).gif" style="display:none" alt="Chargement en cours..." />
    <input type="submit" value="Rechercher produit" />

   <div id="resultats">
       @{ Html.RenderAction("ResultatRecherche", new { rechercheProduitViewModel = Model });}
   </div>
    
}

<script type="text/javascript">
    function ErreurRecherche() {
        $("#resultats").html("Une erreur s'est produite lors de la recherche, veuillez réessayer ...");
    }
</script>